.sidebar{
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0px;
    width: 72px;
    background-color: #ffffff;
    color: black;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
  background-color: white;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.sidebar-link:hover{
  background-color: rgb(240, 238, 238);
  cursor: pointer;
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-size: 10px;
}